* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efefef;
}

.profileImage {
    width: 30%;
    float: right;
}

.profileImage img {
    width: 400px;
    height: 500px;
}

.about {
    margin-left: 15px;
}

.name {
    margin-left: 15px;
    text-align: center;
    font-size: 50px;
}

.profileInfo {
    width: 70%;
    height: 100vh;
    float: left;
    padding: 0 30px;
    overflow: scroll;
    overflow-x: hidden;
}

.profileInfo::-webkit-scrollbar {
    width: 0px;

}

.profileInfo h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.socialMedia {
    margin-top: 20px;
    margin-right: 15px;
    text-align: center;
}

.socialMedia .fab, .fas{
    font-size: 30px;
    height: 30px;
    margin-left: 25px;
}
.socialMedia .fab:hover, .fas:hover{
    color: #00acee;
}

.exp, .education  {
    display: inline-block;
    width: 45%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.18);
    background: #fff;
}
.exp img, .education img {
    width: 20%;
    height: 20%;
    margin: 5px;
}
.exp small, .education small {
    padding: 10px;
}

.project {
    display: inline-block;
    width: 28%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.18);
    background: #fff;
}
.project img {
    width: 30%;
    height: 30%;
    margin: 5px;
}
.project small {
    padding: 10px;
}

.footer {
}
.contact {
    margin: 5% 0% 5% 25%;
    width: 65%;
}
.contact img {
    width: 30px;
    margin: -10px 10px;
}
.contact span {
    margin: 2%;
}

.copyright {
    text-align: center;
    margin-bottom: 20px;
}


@media only screen and (max-width:990px){
    .profileInfo {
        width: 100%;
        overflow: inherit;
    }
    .profileImage {
        width: 100%;
    }
    .exp {
        width: 95%;
        margin-bottom: 10%;
    }
    .exp img {
        height: 8%;
        margin: 10px 0;
    }
    .project {
        width: 100%;
    }
    .education {
        width: 100%;
    }
    .project img, .education img {
        width: 20%;
    }
    span {
        display: block;
        padding: 10px;
    }
}